#!/bin/bash
set -e

export TON_NETWORK=$(cat /etc/ton/ton_network.txt)

ELECTION_ID=$(/usr/local/sbin/ton/tools/tonos-cli --url $TON_NETWORK run -1:3333333333333333333333333333333333333333333333333333333333333333 active_election_id {} --abi /etc/ton/configs/Elector.abi.json | grep -i 'value0' | cut -d '"' -f4)

KICK_START=$(cat /etc/ton/keys/kick.addr)
KICK_START_KEY="/etc/ton/keys/kick_start.key.json"
MULTISIG=$(cat /etc/ton/keys/$HOSTNAME.addr)
DEPOOL=$(cat /etc/ton/keys/depool.addr)
COUNT=0

if
    [ $ELECTION_ID = 0x0 ]
then
    echo $(date +"%F %T No current elections================")
    exit 1
else
    for FILE in *; do
        echo "debug 1"
        if [ "$ELECTION_ID" = "$FILE" ]; then
            echo "debug 2"
            echo $(date +"%F %T Already Submited================")
            COUNT=1
        fi
    done
fi

echo "debug count = $COUNT"
if [ "$COUNT" == 0 ]; then
    echo "Sending Attempt to voting"
    touch "$ELECTION_ID"
    /usr/local/sbin/telegram_notifier.sh "Elections open!"
    echo "\n=======================KICK======================"
    /usr/local/sbin/telegram_notifier.sh "Kick depool"
    {{ton_node_path}}/tools/tonos-cli --url $TON_NETWORK call $KICK_START submitTransaction "{\"dest\":\"$DEPOOL\", \"value\":\"1000000000\", \"bounce\":\"true\", \"allBalance\":\"false\", \"payload\":\"te6ccgEBAQEABgAACCiAmCM=\"}" --abi /etc/ton/ton-labs-contracts/solidity/safemultisig/SafeMultisigWallet.abi.json --sign $KICK_START_KEY
    echo "sleep 1m"
    sleep 1m
    echo "\n==================RUN VALIDATOR SCRIPT============"
    /usr/local/sbin/telegram_notifier.sh "Run validator script"
    VALIDATOR=$({{ton_node_path}}/tools/ton_validator.sh depool)
    sleep 30
    TR=$(/usr/local/sbin/ton/tools/tonos-cli --url $TON_NETWORK run $MULTISIG getTransactions {} --abi /etc/ton/ton-labs-contracts/solidity/safemultisig/SafeMultisigWallet.abi.json | grep id | awk '{print $2}' | cut -d '"' -f2)
    if [ -z "$TR" ]; then
        /usr/local/sbin/telegram_notifier.sh "ERROR on elections, check server!"
        curl -X POST --header 'Content-Type: application/json' --header 'Accept: application/vnd.pagerduty+json;version=2' --header 'From: {{ PD_ACCOUNT }}' --header 'Authorization: Token token={{ PD_TOKEN}}' -d '{
        "incident": {
            "type": "incident",
            "title": "Error in elections!",
            "service": {
            "id": "{{ PD_SERVICE }}",
            "type": "service_reference",
            "details": "No transaction to sumbit after validator script!"
            }
        }
        }
        ' 'https://api.pagerduty.com/incidents';
    else
        /usr/local/sbin/telegram_notifier.sh "Transaction: $TR"
    fi
fi
